
.thumbnails {
	display: inline-block;
}

.scroll-wheel {
	display: inline-block;
	border-style: double;
	border-width: 5px 0px 5px 0px;
	border-color: black;
	border-radius: 125px / 12px;
	box-shadow: 0 0 8px #555;
	overflow-x: scroll;
	white-space: nowrap;
	margin-left: 50px;
	  
	width: 75%;
}