<div [style.height]="configService.containerHeight" class="scroll-wheel" #target>
  <div class="thumbnails" *ngFor="let thumbnail of thumbnailDisplayInfo; let i = index">
     <website-thumbnail (displayProject)="loadProject($event)" [thumbnailImageSource]="thumbnail['imageSource']" [caption]="thumbnail['caption']" [url]="thumbnail['url']" [index]="i"></website-thumbnail>
  </div>
</div>