.thumbnail-container {
/* 	border: 5px solid black; */
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	
}

.thumbnail-image:not(:hover) {
		-webkit-box-reflect: below 0
	    -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.8, transparent), to(black));
}

.thumbnail-image:hover {
	transform: scale(1.2);
}

.caption {
	padding-top: 10px;
	
}
