<div class='thumbnail-container' [style.width]="containerWidth" [style.height]="containerHeight">
	<img class='thumbnail-image' (click)="popOpenDescription()" (mouseenter)="startSlideshow()" (mouseleave)="endSlideshow()" [src]="thumbnailImageSource" [style.width]="thumbnailWidth" [style.height]="thumbnailHeight"/>
	<p class="caption" (click)="navigateToSite()">{{ caption }}</p>
</div>