.main {
	border-color: black;
	border-style: double;
	border-radius: 15px;
	
	width: 50%;
	display: inline-block;
}

.header {
	border-color: black;
	border-style: solid;
	border-width: 0px 0px 2px 0px;
	
	text-align: center;
	
	font-size: 32px;
	font-family: URW Chancery L,cursive;
}

.header:hover {
	background-color: rgba(50, 50, 50, .3)
}

.header:hover .arrow {
	/* border: solid rgb() */
	display: inline-block;
}


.content {
	font-family: URW Chancery L,cursive;
	white-space: pre-line;
	text-align: left;
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.arrow {
	display: none;
	text-align: left;
	margin-left: auto;
}

