@font-face { 
	font-family: "finalf";
	src: url("../../../assets/fonts/ferrum 2.otf");
}


.logo-wrapper {
	display: inline-block;
}

.title {
	font-family: "finalf";
	font-size: 50px;
}

.button {
	background-color: Transparent;
	font-family: "finalf";
	font-size: 24px;
	border-color: black;
	border-radius: 3px;
}