<div class="nav-bar">
	
	<p class="options" (click)="toggleModal('philosophy')">My Philosophy</p>
	<!-- <p class="options">&#8226;</p> -->	
	<p class="options" (click)="toggleModal('summary')">Professional Summary</p>
	<!-- <p class="options">&#8226;</p> -->
	<p class="options" (click)="toggleModal('contact')">Contact</p>
	
	<modal *ngIf="modalShown" [height]="modalHeight" [width]="modalWidth" [headers]="modalContent?.headers" [content]="modalContent?.content" [type]="modalType"></modal>
	
</div>