@font-face { 
	font-family: "finalf";
	src: url("../../../assets/fonts/ferrum 2.otf");
}


.parent {
	text-align: center;
	margin-bottom: 20px;
}
.container {
	margin-bottom: 50px;
}

.profile-background {
	z-index: -1;
	width: 101vw;
	height: 120vh;
	/* position: absolute; */
	/* background-size: cover; */
	background-repeat: no-repeat;
	margin-top: -20px;
	margin-left: -20px;
	    
	    
	background: url("../../../assets/images/backdrops/profileBackground2.jpg")
}

.logo-container {
	padding-top: 30vh;
}

.ff-font {
	font-family: finalf;
	padding-bottom: 20px;
	font-size: 32px;
	text-decoration: underline; 
}

.navigation {
	position: absolute;
	margin-left: 5px;
}
