

<div class="parent" >

	<div #backgroundImage class="profile-background">
		<div class="navigation"><navigation-bar (triggerLogoDisplay)="triggerLogoDisplay($event)"></navigation-bar></div>
		<div class="logo-container" *ngIf="logoShown"><my-logo (scrollToProjects)="scrollProjects()"></my-logo></div>
	</div>

</div>

<div class="parent" *ngIf="areDisplayingSection('projects')">
    
    <div class="ff-font">PROJECTS</div>
	<div class="container" #projectElement>
		<website-thumbnail-container></website-thumbnail-container>
	</div>

</div>

