
.modal-container {
	position: fixed;
	display: inline-block;
	
	left: 50%;
	top: 50%;
    transform: translate(-50%, -50%);
	
	
	border-radius: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	
	background-color: rgba(255, 255, 255, .7);
	overflow-y: scroll;
	word-wrap: break-word;
	
	  
}


.text {
	display: block;
	color: black;
	text-align: left;
	
	white-space: pre;
	word-wrap: break-word;
	overflow-y: scroll;
}


.header {
	font-size: 24px;
	font-weight: bold;
}

.text-container {
	text-align: left;	
	color: black;
	white-space: pre-line;
	
	margin-left: 30px;
	margin-right: 30px;
	overflow-y: scroll;
}

.form-container {
	text-align: center;
}

.form {
	text-align: left;
	color: black;
	margin-left: 30px;
}

.textbox {
	border: 1px solid black;
}

.textarea {
	width: 90%;
	border: 1px solid black;
}

.button {
	float: right;
	margin-right: 8%;
	margin-top: 2%;
}