<div class="modal-container" [style.height]="height" [style.width]="width">
	<div *ngFor="let header of headers; let i = index">
	  <p class="header text">{{ header }}</p>
	  <!-- <p class="content text">{{ content[i]}}</p> -->
	  <div class="text-container">{{ content[i]}}</div>
	</div>
	
	<div *ngIf="type === 'form'" class="form-container">
		<!-- <div class="form">
		  <p>Name</p>
		  <input disabled #name class="textbox" type="text"/>
		  <p>E-mail</p>
		  <input disabled #email class="textbox" type="text"/>
		  <p>Message</p>
		  <textarea disabled #msgTxt class="textarea" rows="5"></textarea>
		  <button disabled class="button" (click)="saveMessage(name, email, msgTxt)">Submit</button>
		</div> -->
	</div>
	
</div>